/* {
    border: 1px solid red;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

.section {
    padding: 0 10%;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 80px;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

ul {
    display: flex;
    gap: 45px;
}

li {
    list-style: none;
}

a {
    color: #f3e7d5;
    text-decoration: none;
    font-size: 18px;
}

/* INTRO */

.section.one {
    padding-bottom: 30px;
}

.intro-plaque {
    display: flex;
    margin: 50px 0;
    background-color: #422c0f;
    border-radius: 25px;
    padding: 2%;
}

.intro-left,
.intro-right {
    width: 50%;
}

.intro-title {
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 0;
}

button {
    background-color: #866233;
    color: #f3e7d5;
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
}

.intro-right {
    text-align: center;
}


.placeholder > img {
    width: 500px;
    height: auto;
}

/* SECTION TWO, RANDOM POTATOES */

.section.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-title {
    font-size: 36px;
    font-weight: 900;
}

.section-two-elements {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.element {
    text-align: center;
}

.element > div > img {
    width: 250px;
    height: auto;
    border: 4px solid #422c0f;
    border-radius: 10px;
}

.text {
    font-size: 18px;
}

/* SECTION THREE, QUOTE */

.section.three {
    padding: 5px 350px;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
}

.quoter {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
    margin-top: 0;
}

/* SECTION FOUR, SIGN UP */

.section.four {
    display: flex;
    justify-content: center;
}

.section-four-div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #422c0f;
    color: #f3e7d5;
    border-radius: 15px;
    margin: 15px 0;
}

.section-four-text,
.section-four-button {
    margin: 5px 150px;
}

.section-four-button > button {
    font-size: 26px;
}

span {
    font-weight: 900;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
}

/* BACKGROUND COLOURS */

.section.one,
footer {
    background-color: #866233;
    color: #f3e7d5;

}

.section.two,
.section.three {
    color: #422c0f;
}

.section.three {
    background-color: #ccc1b2;
    color: #422c0f;
}